@model HairSalon.Models.Stylist

<h1>Delete Stylists</h1>

@Html.DisplayNameFor(model => model.StylistName): @Html.DisplayFor(model => model.StylistName)
@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn" class="delete" />
}


<h4>@Html.ActionLink("Back to Stylists", "Index")</h4>
